@import "variables";

header {
    nav {
        ul {
            background-color: $color-texto;
            li {
                a {
                    text-decoration: none;
                    font-size: large;
                    text-align: center;
                    margin-left: 40px;
                    margin-right: 40px;
                    font-weight: bolder;
                }

            }
        }
    }
}

div {
    img {
        width: 250px;
    }
}

#violeta {
    color: $color-texto-violeta;
}