@import "variables";
@import "header";
@import "main";
@import "aside";
@import "footer";
@import "tip";
@import "receta";
@import "contacto";

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 14px;
    font-family: Helvetica, sans-serif;
}

h1 {
    font-size: xx-large;
    color: $color-texto;
    background-color: $fondo-violeta;
    padding: 20px;
    margin: 0;
    text-align: center;
    animation-duration: 2s;
    animation-name: aparecer;
}

.grid-inicio {
    display: grid;
    grid-template-columns: 1fr;
}

.fondo {
    background-color: $fondo-blanco;
}

.imagenmenu {
    width: 600px;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 992px) {
    h1 {
        font-size: large;
    }

    .grid-inicio {
        display: inline;
    }

    header {
        div {
            img {
                width: 200px;
                display: inline;
            }
        }
    }

    main {
        div {
            p {
                padding: 0;
            }
        }

        p {
            width: max-content 992px;
        }
    }

    aside {

        div {
            display: none;
        }
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: large;
    }

    .grid-inicio {
        display: inline;
    }

    header {
        div {
            img {
                width: 200px;
                display: inline;
            }
        }
    }

    main {
        div {
            p {
                padding: 0;
            }
        }

        p {
            width: max-content 768px;
        }
    }

    img {
        width: 100px;
    }

    .imagenmenu {
        width: 400px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: medium;
    }

    .grid-inicio {
        display: inline;
    }

    header {
        div {
            img {
                width: 150px;
                display: inline;
            }
        }

        nav {
            ul {
                gap: 0rem;
            }
        }
    }

    .imagenmenu {
        width: 200px;
    }
}